<app-main-header *ngIf="currenLocation != '/login'"></app-main-header>
<app-main-sidebar *ngIf="currenLocation != '/login'"></app-main-sidebar>
<!-- <app-content-wrapper *ngIf="currenLocation != '/login'"></app-content-wrapper> -->
<app-control-sidebar *ngIf="currenLocation != '/login'"></app-control-sidebar>
<!-- <app-main-footer *ngIf="currenLocation != '/login'"></app-main-footer> -->
<div class="content-wrapper" *ngIf="currenLocation != '/login'">
  <router-outlet></router-outlet>
</div>

<router-outlet *ngIf="currenLocation == '/login'"></router-outlet>
<!-- Preloader -->
<div class="preloader flex-column justify-content-center align-items-center">
  <img class="animation__wobble" src="./assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
</div>